/*
CSS Rules Syntax
	selector {
		property: value;
	}
*/

body {
    background-color: skyblue;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: white;
}

div {
    float: right;
}

/*Type Selector*/
/*Tag name*/
h1 {
    color: red;
    text-align: center;
    font-size: 2rem;
}

section {
    height: 100vh;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

/*Universal Selector*/
/*
	- The "*" symbol is a "universal selector" and is used to target all elements
*/
* {
    font-family: "Courier New", monospace;
    font-size: 20px;
}

/*ID Selector*/
/*#id-name*/
#zuitt-motto {
    letter-spacing: 5px;
}

h3 {
    letter-spacing: 25px;
}

/*Adjacent Sibling Selector*/
/*selector + selector*/
h3 + img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

/*Class Selector*/
/*.class-name*/
.offering-item {
    text-transform: uppercase;
}

/*Descendant Selector*/
/*selector selector*/
#program-learning-list li {
    color: #075966;
}

/*General Sibling Selector*/
/*selector ~ selector*/
h2 ~ a {
    text-decoration: none;
}
